<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Enter Location
    <form action="/search" method="GET">
    	<input id="location" type="text" name="location" />
    	<button type="submit">Search</button>
    </form>
	<% if(coords) { %>
    <p><%=coords.lat%></p>
    <p><%=coords.lng%></p>
    <%}%>
  </body>
</html>
